# Dependencies
node_modules/

# Build
docs/.vuepress/dist/
docs/.vuepress/cache/
.cache/
.temp/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/

# System
.DS_Store
Thumbs.db

# Debug
npm-debug.log*